# dependencias
/node_modules

# next.js
/.next/
/out/

# capacitor / android nativo (se genera con `npx cap add android`)
/android/app/build
/android/build
/android/.gradle
/android/local.properties
/android/captures
/android/*.iml
/android/.idea

# varios
.DS_Store
*.tsbuildinfo
next-env.d.ts
